*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  inline-size: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  align-self: center;
  display: grid;
  align-items: end;
  grid-template-columns: 711px 400px;
  grid-template-areas:
  "result  content__details";
  padding: 0px 30px;
  gap: 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: inherit;
  block-size: inherit;
  object-fit: cover;
}


.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  gap: 20px;
}

.content__list-container {
  position: relative;
  block-size: 300px;
  inline-size: 100%;
  overflow: auto;
  padding-right: 4px;
  padding-left: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: 1px underline #FFFFFF;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}


.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit:cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #FFFFFF;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 6px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}


.content__video-card-title {
  padding-top: 3px;
  inline-size: 196px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  padding-top: 3px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  inline-size: fit-content;
  gap: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  align-items: end;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__label-text {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #FFFFFF;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline 1px #FFFFFF;
  text-underline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox):active {
  text-decoration: none;
}

.search-form__textfield {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: none;
  border-left: none;
  background-color: transparent;
  inline-size: 225px;
  block-size: 27px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  appearance: none;
  color: #FFFFFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}


.search-form__textfield:active {
  outline: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox {
  border: 1px solid #FFFFFF;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFFFFF;
  inline-size: 15px;
  block-size: 15px;
  margin-left: 1px;
  margin-top: 1px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFFFFF;
  inline-size: 15px;
  block-size: 15px;
  margin-left: 1px;
  margin-top: 1px;
}

.button {
  border: 1px solid currentColor;
  background-color: transparent;
  color: #FFFFFF;
  block-size: 34px;
  align-self: flex-end;
  cursor: pointer;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

.button:hover {
  text-decoration: underline 1px #FFFFFF;
  text-underline-offset: 2px;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px  solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  inline-size: 194px;
  margin-bottom: 2px;
}

.more-button {
  inline-size: 100%;
  margin-top: 30px;
  margin-bottom: 4px;
}
